$primary: #cd6133;
$dark: #1e272e;
$light: #f5f6fa;
$error: #ee5253;

$theme-colors: (
    'primary': $primary,
    'dark': #2f3640,
    'light': #f5f6fa,
    'error': $error,
);

$body-bg: $light;
$body-color: $dark;

$border-radius: 0;
